<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container name="IOC_MySqlDAL">
        <type type="DataAccessLibInterface.ICompanyDAL,DataAccessLibInterface" mapTo="MySqlDAL.CompanyDAL,MySqlDAL" name="CompanyDAL"></type >
        <type type="DataAccessLibInterface.IUserDAL,DataAccessLibInterface" mapTo="MySqlDAL.UserDAL,MySqlDAL" name="UserDAL"></type >
        <type type="DataAccessLibInterface.IBaseDAL,DataAccessLibInterface" mapTo="MySqlDAL.BaseDAL,MySqlDAL" name="BaseDAL"></type >
      </container>
      <container name="IOC_SqlServerDAL">
        <type type="DataAccessLibInterface.ICompanyDAL,DataAccessLibInterface" mapTo="SqlServerDAL.CompanyDAL,SqlServerDAL" name="CompanyDAL"></type >
        <type type="DataAccessLibInterface.IUserDAL,DataAccessLibInterface" mapTo="SqlServerDAL.UserDAL,SqlServerDAL" name="UserDAL"></type >
        <type type="DataAccessLibInterface.IBaseDAL,DataAccessLibInterface" mapTo="SqlServerDAL.BaseDAL,SqlServerDAL" name="BaseDAL"></type >
      </container>
    </containers>
  </unity>
</configuration>